/* 设置全局背景颜色 */
QWidget {
    background-color: #2b2b2b; /* 深灰色 */
}

/* QMenuBar 样式 */
QMenuBar {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    font: bold 14px;
    font-family: YouYuan;
    border-radius: 8px; /* 圆角半径 */
    border: 1px solid #555555; /* 边框灰色 */
    padding: 2px;
}

QMenuBar::item {
    background-color: #2b2b2b; /* 深灰色 */
    padding: 4px 10px;
    color: #ffffff; /* 白色 */
}

QMenuBar::item:selected {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
}

QMenuBar::item:pressed {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QMenu 样式 */
QMenu {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #555555; /* 边框灰色 */
    border-radius: 6px; /* 圆角半径 */
}

QMenu::item {
    background-color: #2b2b2b; /* 深灰色 */
    padding: 4px 10px;
    color: #ffffff; /* 白色 */
}

QMenu::item:selected {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
}

QMenu::item:pressed {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QToolBar 样式 */
QToolBar {
    background-color: #2b2b2b; /* 深灰色 */
    border: 1px solid #555555; /* 边框灰色 */
    padding: 2px;
    border-radius: 6px; /* 圆角半径 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    font-family: YouYuan;
    color: #ffffff; /* 白色 */
}

QToolBar QToolButton {
    background-color: #555555; /* 较浅的灰色 */
    border: none;
    padding: 6px;
    margin: 6px;
    border-radius: 4px; /* 圆角半径 */
    color: #ffffff; /* 白色 */
}

QToolBar QToolButton:checked {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

QToolBar QToolButton:hover {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QDockWidget 样式 */
QDockWidget {
    titlebar-close-icon: url(./icon/icons8-close-96.png);
    titlebar-normal-icon: url(./icon/icons8-fullscreen-96.png);
    border: 1px solid #555555; /* 边框灰色 */
    background-color: #2b2b2b; /* 深灰色 */
    border-radius: 6px; /* 圆角半径 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    font-family: YouYuan;
    color: #ffffff; /* 白色 */
}

QDockWidget::title {
    background-color: #555555; /* 较浅的灰色 */
    text-align: center;
    padding: 4px;
    border-top-left-radius: 6px; /* 标题栏左上角圆角 */
    border-top-right-radius: 6px; /* 标题栏右上角圆角 */
    font-family: YouYuan;
    color: #ffffff; /* 白色 */
}

QDockWidget::close-button,
QDockWidget::float-button {
    border: none;
    background: transparent;
    color: #ffffff; /* 白色 */
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QTreeWidget 样式 */
QTreeWidget {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #555555; /* 边框灰色 */
    border-radius: 6px; /* 圆角半径 */
    font-family: YouYuan;
}

QTreeWidget::item {
    padding: 4px;
    border-bottom: 1px solid #555555; /* 边框灰色 */
    color: #ffffff; /* 白色 */
}

QTreeWidget::item:selected {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
}

QTreeWidget::item:hover {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QListWidget 样式 */
QListWidget {
    padding: 4px;
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #555555; /* 边框灰色 */
    border-radius: 6px; /* 圆角半径 */
    font-family: YouYuan;
}

QListWidget::item {
    border-bottom: 1px solid #555555; /* 边框灰色 */
    color: #ffffff; /* 白色 */
}

QListWidget::item:selected {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
}

QListWidget::item:hover {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QComboBox 样式 */
QComboBox {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #777777; /* 更浅的灰色 */
    padding: 4px;
    border-radius: 4px; /* 圆角半径 */
    font-family: YouYuan;
    color: #ffffff; /* 白色 */
}

QComboBox QAbstractItemView {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
    selection-background-color: #777777; /* 更浅的灰色 */
    border: 1px solid #777777; /* 更浅的灰色 */
    border-radius: 4px; /* 圆角半径 */
}

QComboBox::drop-down {
    border-left: 1px solid #777777; /* 更浅的灰色 */
    icon-size: 20px;
}

QComboBox::down-arrow {
    image: url(./icon/icons8-chevron-down-12.png);
}

/* QLabel 样式 */
QLabel {
    color: #ffffff; /* 白色 */
    font: bold 14px;
    font-family: YouYuan;
}

/* QGraphicsView 样式 */
QGraphicsView {
    border: 1px solid #555555; /* 边框灰色 */
    background-color: #2b2b2b; /* 深灰色 */
    border-radius: 6px; /* 圆角半径 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    font-family: YouYuan;
    color: #ffffff; /* 白色 */
}

/* QStatusBar 样式 */
QStatusBar {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
    font: bold 12px;
    border-radius: 6px; /* 圆角半径 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    font-family: YouYuan;
}

/* 设置缩放弹窗样式 */
QDialog {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #555555; /* 边框灰色 */
    font: 14px;
    border-radius: 8px; /* 圆角半径 */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影 */
    font-family: YouYuan;
}

QDialog QLabel {
    color: #ffffff; /* 白色 */
    font: bold 14px;
}

QDialog QSlider {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #777777; /* 更浅的灰色 */
}

QDialog QLineEdit {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #777777; /* 更浅的灰色 */
    padding: 4px;
}

QDialog QPushButton {
    background-color: #555555; /* 较浅的灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #777777; /* 更浅的灰色 */
    padding: 6px;
    font: bold 14px;
}

QDialog QPushButton:hover {
    background-color: #777777; /* 更浅的灰色 */
    color: #ffffff; /* 白色 */
}

/* QSpinBox 样式 */
QSpinBox {
    color: #ffffff; /* 白色 */
}

QSpinBox::up-button {
    background-color: #ffffff; 
    border: none;
}

QSpinBox::down-button {
    background-color: #ffffff; 
    border: none;
}



/* QCheckBox 样式 */
QCheckBox {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    padding: 4px;
    font-family: YouYuan;
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    background-color: #555555; /* 较浅的灰色 */
    border: 1px solid #777777; /* 更浅的灰色 */
    border-radius: 4px; /* 圆角半径 */
}

QCheckBox::indicator:checked {
    image: url(./icon/icons8-checkmark-12.png);
}

/* QRadioButton 样式 */
QRadioButton {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    padding: 4px;
    font-family: YouYuan;
}

QRadioButton::indicator {
    width: 16px;
    height: 16px;
    background-color: #555555; /* 较浅的灰色 */
    border: 1px solid #777777; /* 更浅的灰色 */
    border-radius: 8px; /* 圆角半径 */
}

QRadioButton::indicator:checked {
    background-color: #ffffff; /* 白色 */
    border: 1px solid #ffffff; /* 白色 */
}

/* QProgressBar 样式 */
QProgressBar {
    background-color: #2b2b2b; /* 深灰色 */
    border: 1px solid #555555; /* 边框灰色 */
    border-radius: 4px; /* 圆角半径 */
    text-align: center;
    font-family: YouYuan;
    color: #ffffff; /* 白色 */
}

QProgressBar::chunk {
    background-color: #555555; /* 较浅的灰色 */
    width: 20px;
    margin: 1px;
    color: #ffffff; /* 白色 */
}

/* QSlider 样式 */
QSlider {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
}

QSlider::groove:horizontal {
    border: 1px solid #555555; /* 边框灰色 */
    height: 8px;
    background: #555555; /* 较浅的灰色 */
    border-radius: 4px; /* 圆角半径 */
}

QSlider::handle:horizontal {
    background: #ffffff; /* 白色 */
    border: 1px solid #ffffff; /* 白色 */
    width: 18px;
    height: 18px;
    margin: -5px 0; /* 将滑块定位在槽的中间 */
    border-radius: 9px; /* 圆形滑块 */
}

QSlider::sub-page:horizontal {
    background: #777777; /* 更浅的灰色 */
    border: 1px solid #ffffff; /* 白色 */
    height: 8px;
    border-radius: 4px; /* 圆角半径 */
}

/* QTextEdit 样式 */
QTextEdit {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #555555; /* 边框灰色 */
    padding: 4px;
    border-radius: 4px; /* 圆角半径 */
    font-family: YouYuan;
}

/* QPlainTextEdit 样式 */
QPlainTextEdit {
    background-color: #2b2b2b; /* 深灰色 */
    color: #ffffff; /* 白色 */
    border: 1px solid #555555; /* 边框灰色 */
    padding: 4px;
    border-radius: 4px; /* 圆角半径 */
    font-family: YouYuan;
}
